<!DOCTYPE html>
<html>
    <head>
        <title> Ella's blog? </title>
    </head>
    <body>
        <h1> Welcome </h1>
        <h2> Who am I? Who are you? </h2>
        <p>
            Hey. I'm a student at the University of Warwick studying Computer Science.
            /n
            I'm currently completing a year in industry placement with ZF Group, working as an Associate Engineer.
        </p>
        <h2>
            Projects
        </h2>
        <h2>
            University
        </h2>
    </body>
</html>